@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    overflow: hidden;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;  
}

.container {
    padding: 1.5rem;
    flex: 1;
}

.btn-add {
    width: 200px;
    height: 2.5rem;
    border: none;
    font-weight: bold;
    color: #fff;
    background-color: #004daa;
}

.browser-container {
    min-height: 100vh; 
    width: 100vw; 
    display: flex;
}

@media only screen and (max-width: 600px) {
    .browser-container {
        flex-direction: column;
    }
}